# Python
__pycache__/
*.pyc
.env
env/
.venv/
.venv311

# Datos y artefactos pesados
data/
checkpoints/
checkpoints_tiny/
logs/
stats_tiny/

# Tiny-ImageNet local (si prefieres granular)
.tiny-imagenet-200/
tiny-imagenet-200/

# OS/IDE
.DS_Store
.vscode/

# GCS Cache
gcs_cache_*.json
