[Unit]
Description=Distributed ImageNet Training Initial Peer
After=network.target

[Service]
User=abejaminecraft2003
WorkingDirectory=/home/abejaminecraft2003/distrubuted-ImageNet/neural-network-train
ExecStart=/home/abejaminecraft2003/distrubuted-ImageNet/venv/bin/python src/dhtPeerImagenet.py --announce_gcs_path gs://caso-estudio-2/initial_peer.txt --use_checkpoint --no_initial_val --val_every 10 --use_wds --batch_size 64 
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
